<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口测试平台</title>
    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css">

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <script>window.jQuery || document.write('<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"><\/script>')</script>
s
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

    <script src="https://v3.bootcss.com/assets/js/vendor/holder.min.js"></script>

</head>


{% block content %}

{% endblock %}

<div class="container theme-showcase" role="main" style="position:absolute;bottom:0;width:100%;height:100px;">
    <div class="page-header"></div>
    <footer class="footer">
        <p style="text-align:right">&copy;Company 2019,Author: Evan</p>
    </footer>
</div>

</html>